<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>latitude</key>
		<string>48.59589</string>
		<key>longitude</key>
		<string>7.686168</string>
	</dict>
	<key>2</key>
	<dict>
		<key>latitude</key>
		<string>48.581023</string>
		<key>longitude</key>
		<string>7.756072</string>
	</dict>
	<key>2</key>
	<dict>
		<key>latitude</key>
		<string></string>
		<key>longitude</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>latitude</key>
		<string>48.58571</string>
		<key>longitude</key>
		<string>7.749298</string>
	</dict>
	<key>4</key>
	<dict>
		<key>latitude</key>
		<string>48.544667</string>
		<key>longitude</key>
		<string>7.735717</string>
	</dict>
	<key>5</key>
	<dict>
		<key>latitude</key>
		<string>48.58926</string>
		<key>longitude</key>
		<string>7.71599</string>
	</dict>
	<key>6</key>
	<dict>
		<key>latitude</key>
		<string>48.568424</string>
		<key>longitude</key>
		<string>7.730333</string>
	</dict>
	<key>7</key>
	<dict>
		<key>latitude</key>
		<string>48.591247</string>
		<key>longitude</key>
		<string>7.726124</string>
	</dict>
	<key>8</key>
	<dict>
		<key>latitude</key>
		<string>48.584349</string>
		<key>longitude</key>
		<string>7.7359</string>
	</dict>
	<key>9</key>
	<dict>
		<key>latitude</key>
		<string>48.582571</string>
		<key>longitude</key>
		<string>7.732298</string>
	</dict>
	<key>10</key>
	<dict>
		<key>latitude</key>
		<string>48.587405</string>
		<key>longitude</key>
		<string>7.736794</string>
	</dict>
	<key>11</key>
	<dict>
		<key>latitude</key>
		<string>48.581581</string>
		<key>longitude</key>
		<string>7.748308</string>
	</dict>
	<key>12</key>
	<dict>
		<key>latitude</key>
		<string>48.583518</string>
		<key>longitude</key>
		<string>7.745086</string>
	</dict>
	<key>13</key>
	<dict>
		<key>latitude</key>
		<string>48.587383</string>
		<key>longitude</key>
		<string>7.739398</string>
	</dict>
	<key>14</key>
	<dict>
		<key>latitude</key>
		<string>48.586811</string>
		<key>longitude</key>
		<string>7.742175</string>
	</dict>
	<key>15</key>
	<dict>
		<key>latitude</key>
		<string>48.597992</string>
		<key>longitude</key>
		<string>7.776587</string>
	</dict>
	<key>16</key>
	<dict>
		<key>latitude</key>
		<string>48.561267</string>
		<key>longitude</key>
		<string>7.750311</string>
	</dict>
	<key>17</key>
	<dict>
		<key>latitude</key>
		<string>48.579218</string>
		<key>longitude</key>
		<string>7.735282</string>
	</dict>
	<key>18</key>
	<dict>
		<key>latitude</key>
		<string>48.599653</string>
		<key>longitude</key>
		<string>7.753834</string>
	</dict>
	<key>19</key>
	<dict>
		<key>latitude</key>
		<string>48.575597</string>
		<key>longitude</key>
		<string>7.74955</string>
	</dict>
	<key>20</key>
	<dict>
		<key>latitude</key>
		<string>48.583165</string>
		<key>longitude</key>
		<string>7.743654</string>
	</dict>
	<key>21</key>
	<dict>
		<key>latitude</key>
		<string>48.577984</string>
		<key>longitude</key>
		<string>7.751819</string>
	</dict>
	<key>22</key>
	<dict>
		<key>latitude</key>
		<string>48.587982</string>
		<key>longitude</key>
		<string>7.740172</string>
	</dict>
	<key>23</key>
	<dict>
		<key>latitude</key>
		<string>48.573304</string>
		<key>longitude</key>
		<string>7.759862</string>
	</dict>
	<key>24</key>
	<dict>
		<key>latitude</key>
		<string>48.627909</string>
		<key>longitude</key>
		<string>7.75781</string>
	</dict>
</dict>
</plist>
